{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post" class="container w-full p-24 px-48 pb-24">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <h1 class="text-xl font-bold mb-5">Please sign in</h1>
    <label for="inputEmail" class="">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="p-2 my-2 bg-gray-200 rounded border-solid border-2 border-gray-400" required autofocus>
    <label for="inputPassword" class="">Password</label>
    <input type="password" name="password" id="inputPassword" class="p-2 my-2 bg-gray-200 rounded border-solid border-2 border-gray-400" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

    <button class="ml-6 mb-5 p-2 px-5 bg-gray-200 rounded hover:bg-gray-400" type="submit">
        Sign in
    </button>
</form>
{% endblock %}
