{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	<div class="container w-full p-24 px-48 pb-24">
		{% for flashError in app.flashes('verify_email_error') %}
			<div class="alert alert-danger" role="alert">{{ flashError }}</div>
		{% endfor %}

		<h1 class="text-xl font-bold mb-5">Register</h1>

		{{ form_start(registrationForm) }}
		{{ form_row(registrationForm.email) }}
		{{ form_row(registrationForm.plainPassword, {
                label: 'Password'
            }) }}
		{{ form_row(registrationForm.agreeTerms) }}

		<button type="submit" class="mb-5 p-2 px-5 bg-gray-200 rounded hover:bg-gray-400">Register</button>
		{{ form_end(registrationForm) }}
	</div>

{% endblock %}
