{% extends 'base.html.twig' %}

{% block body %}

    <div class="container w-full pb-25 max-w-xs">
        <h2 class="p-6 text-xl font-bold">{{"categorie.ajouter"|trans}}</h2>
        {{ form_start(ajoutCategorie) }}
        <div class="ml-6 mb-5">
            <h3 class="text-l mr-2">
                {{ form_label(ajoutCategorie.nom) }}
            </h3>
            {{ form_widget(ajoutCategorie.nom) }}
        </div>
        {{ form_end(ajoutCategorie) }}
    </div>

{% endblock %}
