{% extends 'base.html.twig' %}

{% block title %}Hello CategorieController!
{% endblock %}

{% block body %}
	<div class="container w-full pb-25 max-w-xs">
		<h1 class="p-6 text-xl font-bold">Liste des catégories</h1>
		<ul class="p-2 ml-6 shadow-md">
			{% for categorie in categories %}
				<a href="{{ path('showCategorie', {id: categorie.id}) }}">
					<li class="p-2 hover:bg-gray-200">{{ categorie.nom }}</li>
				</a>
			{% else %}
				<h1 class="p-6 text-xl font-bold">Aucune catégorie</h1>
			{% endfor %}
		</ul>
		<hr>
		<h2 class="p-6 text-xl font-bold">Ajouter une categorie</h2>
		{{ form_start(ajoutCategorie) }}
		<div class="ml-6 mb-5">
			<h3 class="text-l mr-2">
				{{ form_label(ajoutCategorie.nom) }}
			</h3>
			{{ form_widget(ajoutCategorie.nom) }}
		</div>
		{{ form_end(ajoutCategorie) }}
	</div>

{% endblock %}
