{% extends 'base.html.twig' %}

{% block title %}Hello CoursController!
{% endblock %}

{% block body %}
	<div class="container w-full max-w-xs">
		{% for item in cours %}
			<h1 class="p-6 text-xl font-bold">Liste des cours</h1>
			<a href="{{ path('showCours', {'id': item.id}) }}">
				<h3>{{ item.nom }}</h3>
			</a>
			<ul>
				<li>{{ item.categorie.nom }}</li>
				<li>{{ item.description }}</li>
			</ul>
		{% else %}
			<h1 class="p-6 text-xl font-bold">Aucun cours</h1>
		{% endfor %}

		<hr>
		<h2 class="p-6 text-xl font-bold">Ajouter un cours</h2>
		{{ form(ajoutCours) }}
		</div>

	{% endblock %}
