{% extends 'base.html.twig' %}

{% block title %}{{"cours.nom"|trans}}
{% endblock %}

{% block body %}
	<div class="container w-full max-w-xs mb-24">
		<h1 class="p-6 text-xl font-bold">{{"cours.liste"|trans}}</h1>
		<div class="flex w-screen p-5">
			{% for item in cours %}
				<div class="max-w-sm m-5 rounded overflow-hidden shadow-lg transition duration-150 ease-in-out hover:bg-gray-200">
					<div class="px-6 py-4">
						<a href="{{ path('showCours', {'id': item.id}) }}" class="flex items-center justify-between">
							<h3 class="font-bold text-xl mb-2 hover:text-orange-400">{{ item.nom }}</h3>
							<ion-icon name="arrow-redo-circle-outline" class="text-3xl hover:text-orange-400"></ion-icon>
						</a>
						<ul>
							<li>
								<p class="text-gray-700 text-base">{{ item.description }}</p>
							</li>
						</ul>
					</div>
					<div class="px-6 pt-4 pb-2">
						<span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">{{ item.categorie.nom }}</span>
					</div>
				</div>
			{% else %}
				<h1 class="p-6 text-xl font-bold">{{ "cours.aucun"|trans }}</h1>
			{% endfor %}
		</div>
	</div>

{% endblock %}
