{% extends 'base.html.twig' %}

{% block title %}Hello CoursController!{% endblock %}

{% block body %}
    {% for item in cours %}
        <h1>Liste des cours</h1>
        <a href="{{ path('showCours', {'id': item.id}) }}"><h3>{{ item.nom }}</h3></a>
            <ul>
                <li>{{ item.categorie.nom }}</li>
                <li>{{ item.description }}</li>
            </ul>
    {% else %}
        <h1>Aucun cours</h1>
    {% endfor %}

    <hr>
    <h2>Ajouter un cours</h2>
    {{ form(ajoutCours) }}
{% endblock %}
