{% extends 'base.html.twig' %}

{% block title %}Hello CoursController!
{% endblock %}

{% block body %}
	<div class="container w-full max-w-xs">
		<h1 class="p-6 text-xl font-bold">Liste des cours</h1>
		{% for item in cours %}

			<a href="{{ path('showCours', {'id': item.id}) }}">
				<h3>{{ item.nom }}</h3>
			</a>
			<ul>
				<li>{{ item.categorie.nom }}</li>
				<li>{{ item.description }}</li>
			</ul>
		{% else %}
			<h1 class="p-6 text-xl font-bold">Aucun cours</h1>
		{% endfor %}

		<hr>
		<h2 class="p-6 text-xl font-bold">Ajouter un cours</h2>
		{{ form_start(ajoutCours) }}
		<div class="ml-6">
			<h3 class="text-l mr-2">
				{{ form_label(ajoutCours.nom) }}
			</h3>
			{{ form_widget(ajoutCours.nom) }}

			<h3 class="text-l mr-2">
				{{ form_label(ajoutCours.description) }}
			</h3>
			{{ form_widget(ajoutCours.description) }}

			<h3 class="text-l mr-2">
				{{ form_label(ajoutCours.contenu) }}
			</h3>
			{{ form_widget(ajoutCours.contenu) }}

			<h3 class="text-l mr-2">
				{{ form_label(ajoutCours.categorie) }}
			</h3>
			{{ form_widget(ajoutCours.categorie) }}
		</div>

		{{ form_end(ajoutCours) }}
	</div>

{% endblock %}
